<div id="fullpage">
	<div id="title_section" class="section">
		<div class="slide" id="title_page">
			<h1 id="title_name">Michael Nader</h1>
			<h2 id="title_skill">Software Engineer</h2>

			<div id="notification_background">
				<p class="notification">Hey, welcome to my site, it's currently under construction.</p>
				<p id="features" class="notification">Click here to view upcoming features</p>
			</div>
			<div id="git_text_background">
				<div class ="git_text">View the source code on GitHub
					<%= link_to " here", "https://github.com/Nader7/Portfolio-site", class: "git_text", id: "git_link", target: :_blank %>
				</div>
			</div>
		</div>
		<%= render 'upcoming_features'%>
		<%= image_tag "home/down_arrow", alt: "arrow", id: "title_down", class: "button"%>
	</div>
	<div id="bionic_section" class="section">
		<div class="container">
			<%= render 'bionic' %>
		</div>
	</div>
	<div id="energy_section" class="section">
		<div class="container">
			<%= render 'energy' %>
		</div>
	</div>
	<div id="zorkish_section" class="section">
		<div class="container">
			<%= render 'game' %>
		</div>
	</div>
	<div id="skills_section" class="section">
		<%= render 'skills'%>
	</div>
</div>
