<div id="fullpage">
	<div id="section1" class="section">
		<div class="slide">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center" id="title_section">
						<h1 id="title_name">michael nader</h1>
						<h2 id="title_skill">software engineer</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 text-center">
						<%= button_tag 'View upcoming features', id: "features" %>
					</div>
				</div>
			</div>
		</div>
		<%= render partial: 'upcoming_features'%>
	</div>
	
	<div id="section2" class="section">
		<div class="slide">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h1> Notable Projects </h1>
					</div>
				</div>
				
				<br /><br />
				<div class="row vertical-align">
					<div class="col-lg-4 text-right">
						<%= link_to image_tag("home/data_thumb", width: "225", alt: "database"), posts_path(:project => "posts/index"), remote:true%>
					</div>
					<div class="col-lg-8">
						<div>
							<%= link_to 'Database Management (Demo!)', 
								posts_path(:project => "posts/index"), remote:true %>
							<p>A database managment interface. Click for a live demo!</p>
						</div>
					</div>
				</div>
				<br /><br />
				<div class="row vertical-align">
					<div class="col-lg-4 text-right">
						<%= link_to image_tag("home/bionic_thumb", width: "225", alt: "bionic"), "/assets/home/bionic.png", target: :_blank%>
					</div>
					<div class="col-lg-8 ">
						<div>
							<%= link_to 'Bionic Vision Simulator', 
								projects_path(:project => "bionic"), remote:true %>
							<p>A virtual reality program which simulates the functionality of a prosthetic being developed by Bionic Vision Australia, developed for research purposes</p>
						</div>
					</div>
				</div>
				<br /><br />
				<div class="row vertical-align">
					<div class="col-lg-4 text-right">
						<%= link_to image_tag("home/energy_thumb", width: "225", alt: "energy"), "/assets/home/energy.png", target: :_blank%>
					</div>
					<div class="col-lg-8">
						<div>
							<%= link_to 'Home Energy Trading System', 
								projects_path(:project => "energy"), remote:true %>
							<p>A multi intelligent agent system which autonomously calculates hourly energy needs and negotiates price based on a budget</p>
						</div>
					</div>
				</div> 
				<br / ><br />
				<div class="row vertical-align">
					<div class="col-lg-4 text-right">
						<%= link_to image_tag("home/zorkish_thumb", width: "225", alt: "zorkish"), "/assets/home/zorkish.png", target: :_blank%>
					</div>
					<div class="col-lg-8">
						<div>
							<%= link_to 'Text Adventure Game', 
								projects_path(:project => "game"), remote:true %>
							<p>A Zork like game built in c++ without the use of libraries</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="project"></div>
	</div>

	<div id="section3" class="section">
		<%= render 'skills'%>
	</div>
</div>
